node_modules/
.env
.env.*
!.env.example
uploads/

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# React Native / Expo
.expo/
npm-debug.*
yarn-debug.*
yarn-error.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*

# OS
.DS_Store
